.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}
 
.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
 
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
 
.carousel-element img {
    max-width: 100px;
}
 
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
}
.carousel-arrow-left,
.carousel-arrow-right {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover{
    cursor: pointer;
}

.wrapper-carousel{
    position: relative;
    width: 750px;
    height: 200px;
    margin: 0 auto;
}


body{
    background-color: #eeeeee;
}

.title{
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding-top: 40px;
}

.content{
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 30%;
    width: 650px;
    height: 960px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
    position: absolute;
}

.foto{
    height: 210px;
    margin: 5px 0px 5px 0px;

}

.text-left{
    margin-left: 85px;
    line-height: 30px;
    font-size: 18px;
}

.img-center{
    text-align: center;   
}

hr{
    width: 550px;
}

.br{
    margin-top: 50px;
}