*{
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	width: 1280px;
	height: 768px;
}

.contur{
	position: absolute;
	margin-left: 100px;
	margin-top: 50px;
	width: 1000px;
	height: 300px;
	background-color: #e1e3ff;
	border: 20px black solid;
	border-radius: 70px;
}

.times{
	margin-top: -25px;
	text-align: center;
	font-family: Arial;
	font-size: 200px;
	font-weight: bold;
	color: black;
}

.miliSeconds{
	margin-top: -90px;
	margin-right: 120px;
	text-align: right;
	font-family: Arial;
	font-size: 70px;
	font-weight: bold;
	color: black;
}

#butStart{
	position: absolute;
	top: 450px;
	left: 400px;
}

#butPause{
	position: absolute;
	top: 450px;
	left: 400px;
}

#butContinue{
	position: absolute;
	top: 450px;
	left: 400px;
}

#butClear{
	position: absolute;
	top: 450px;
	left: 700px;
}



